@import url(..//..//recsource/styleVar/var.css);

@font-face {
    font-family: 'Get Schwifty';
    src: url(..//..//recsource/font/get_schwifty.ttf);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Get Schwifty';
    animation: toggle__animation 3s infinite;
}

ul {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

ul li {
    margin: 5px;
    list-style: none;
    text-decoration: none;
}

a {
    color: limegreen;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 50px black, 0 0 20px black, 0 0 15px black;
    border: 5px;
    margin: 5px;
    text-decoration: none;
    height: 15px;
    width: 15px;
}

a:hover {
    color: var(--background);
    border-radius: 80%;
    background-color: rgba(23, 226, 84, 0.4);
    border-color: rgb(20, 236, 85);
    text-shadow: 0 0 50px white, 0 0 20px white, 0 0 15px white;
    box-shadow: 0 0 50px rgb(42, 145, 73), 0 0 30px rgb(42, 145, 73),
        0 0 60px rgb(42, 145, 73), 0 0 120px rgb(42, 145, 73);

}

@keyframes toggle__animation {

    0%,
    100% {
        transform: translateY(-10px)  rotateY(-20deg);
    }
 
    50% {
        transform: translateY(0px)  rotateY(-20deg);
    }
 }