@import url(..//..//assets/styleVar/var.css);

@font-face {
    font-family: 'BlackOpsOne';
    src: url(..//..//assets/font/BlackOpsOne-Regular.ttf);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.button {
    border-radius: 10px;
    background: none;
    color: darkred;
    border: 0.1px solid green;
    margin: 5px;
    padding: 5px;
    font-family: "BlackOpsOne";
    font-size: 15px;
    height: 35px;
    width: auto;
    font-weight: bolder;
}

.button:hover {
    background-color: rgb(70, 203, 70);
    color: red;
    cursor: pointer;
    font-size: 17px;
    transition: 0.7s;
    text-shadow: 0 0 50px white, 0 0 20px white, 0 0 15px white;
    box-shadow: 0 0 5px lime,
        0 0 25px lime,
        0 0 50px lime,
        0 0 100px lime;
    border: none;
}

.button:active {
    width: 1px;
    height: 1px;
    letter-spacing: 0px;
    font-size: 1px;
    rotate: 100deg;
    transition: 2s;
}

h1 {
    font-family: 'BlackOpsOne';
    font-weight: bolder;
    font-size: 7vh;
    margin: 5px;
    color: rgb(95, 212, 95);
    border-radius: 15%;
    text-shadow: grey 1px 0 12px;
}

.elementoP {
    font-family: "BlackOpsOne";
    font-weight: bolder;
    font-size: 3vh;
    margin: 5px;
    color: rgb(205, 235, 213);
    border-radius: 15%;
    text-shadow: black 5px 0 15px;
    max-width: 50%;
    max-height: 50%;
    text-align: center;
    backdrop-filter: blur(100px);
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infoEpisodes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}