@import url(..//..//recsource/styleVar/var.css);
@font-face {
    font-family: 'Get Schwifty';
    src: url(..//..//recsource/font/get_schwifty.ttf);
}
.contariner {
    background-color: var(--background);
    border: 2px solid var(--border);
    border-radius: 50%;
    padding: 25px;
    margin: 10px;
    width: 400px;
    height: 500px;
    }
.contariner:hover {
    animation: backwards;
    border: 2px solid green;
    box-shadow: 5px 5px 5px 0px var(--boxShadow);
}
.button {
    border-radius: 50%;
    border: 2px solid var(--border);
    background-color: var(--background);
    color: darkred;
    margin: 5px;
    padding: 5px;
    font-family: 'Get Schwifty';
    font-size: 15px;
    height: 35px;
    width: 35px;
    font-weight: bolder;   
}
.button:hover {

    background-color: green;
    color: red;
    cursor: pointer;
    font-size: 17px;
    transition: 0.7s;
    box-shadow: 5px 5px 5px 0px var(--boxShadow);
}
h2 {
    font-family: 'Get Schwifty';
    font-weight: bolder;
    font-size: 20px;
    margin: 5px;
    color: darkgreen;
}
p {
    font-family: 'Get Schwifty';
    font-weight: bolder;
    font-size: 15px;
    margin: 5px;
    color: yellowgreen;
}
.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img {
    border-radius: 50%;
    border-top: 3px solid var(--border);
    border-left: 3px solid var(--border);
    width: 250px;
    height: 250px;
}
.img:hover {
    cursor: pointer;
    border-top: none;
    border-left: none;
    border-bottom: 3px solid var(--border);
    border-right: 3px solid var(--border);
    transition: 0.5s;
    box-shadow: 5px 5px 5px 0px var(--boxShadow);
}