.containerModal {
    width: 100%;
    height: 100vh;
    background-image: url(..//..//recsource/fondos/wallpaperbetter.com_1920x1080.jpg);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}


.hidden {
    display: none;
}

/*---------estrellas-----------*/
  
  
.bgStars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: cover;
    animation: animateBg 50s linear infinite;
  }
  
  @keyframes animateBg {
    0%,100% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.2);
    }
  }
  
  .star {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
  }
  
  .star::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
  }
  
  @keyframes animate {
    0% {
      transform: rotate(315deg) translateX(0);
      opacity: 1;
    }
  
    70% {
      opacity: 1;
    }
  
    100% {
      transform: rotate(315deg) translateX(-1000px);
      opacity: 0;
    }
  }
  
  .star:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
  }
  
  .star:nth-child(2) {
    top: 5px;
    right: 500px;
    left: auto;
    animation-delay: 0.2s;
    animation-duration: 3s;
  }
  
  .star:nth-child(3) {
    top: 0;
    right: 220px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
  }
  
  .star:nth-child(4) {
    top: 0;
    right: -220px;
    right: initial;
    animation-delay: 1.6s;
    animation-duration: 1.6s;
  }