@font-face {
    font-family: 'Get Schwifty';
    src: url(..//..//recsource/font/get_schwifty.ttf);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.input {
    font-family: 'Get Schwifty';
    border-radius: 5px;
    border: 1px solid black;
    background-color: yellowgreen;
    margin: 10px;
    text-align: center;
}

.input:hover {
    background-color: rgb(23, 226, 84);
    border-color: rgb(20, 236, 85);
    text-shadow: 0 0 50px white, 0 0 20px white, 0 0 15px white;
    box-shadow: 0 0 50px rgb(42, 145, 73), 0 0 30px rgb(42, 145, 73),
        0 0 60px rgb(42, 145, 73), 0 0 120px rgb(42, 145, 73);
}

.input:focus {
    background-color: darkgreen;
    color: yellowgreen;
    box-shadow: 5px 5px 5px 0px lime;
}

.button {
    font-family: 'Get Schwifty';
    border-radius: 5px;
    height: 30px;
    width: 60px;
    background-color: darkgreen;
    color: yellowgreen;
    margin: 15px;
}

.button:hover {
    color: darkgreen;
    cursor: pointer;
    background-color: rgb(23, 226, 84);
    border-color: rgb(20, 236, 85);
    text-shadow: 0 0 50px white, 0 0 20px white, 0 0 15px white;
    box-shadow: 0 0 50px rgb(42, 145, 73), 0 0 30px rgb(42, 145, 73),
        0 0 60px rgb(42, 145, 73), 0 0 120px rgb(42, 145, 73);
}

.button:active {
    width: 55px;
    height: 25px;

}
.footpage {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Get Schwifty';
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
