:root {
    --background: yellowgreen;
    --inputHover: chartreuse;
    --inputFocus: darkgreen;
    --buttonHover: lime;
    --boxShadow: lime;
    --boder: black;
    --containerH: green;
}
[data-theme='dark'] {
    --background: #05010a;
    --inputHover:: #f2f2f2;
    --inputFocus: #a7a4a4;
    --buttonHover: #6a5acd;
    --boxShadow: yellowgreen; 
    --border: #696969;
    --containerH: lime;
}