@import url(..//src/recsource/styleVar/var.css);
.App {
   text-align: center;
   background-color: var(--background);
}
.container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.header {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}


