.App {
   text-align: center;
   background-color: yellowgreen;
}
.container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.header {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

.footer {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   background-color: darkgreen;
   color: yellowgreen;
}
