@import url(..//src/recsource/styleVar/var.css);

/*@import url(./recsource/video/background.mp4);*/
* {
   margin: 0;
   padding: 0;
}

.App {
   background-image: url(./recsource/fondos/wallpaperbetter.com_1920x1080.jpg);
   background-size: cover;
   min-height: 100vh;
   background-attachment: fixed;
   text-align: center;

}

.container {

   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   animation: toggle__animation 3s infinite;
}

.header {
   padding-top: 20px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;

}

video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
}

.overlay {
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.5);
}


@keyframes toggle__animation {

   0%,
   100% {
       transform: translateY(-10px)  rotateY(-10deg);
   }

   50% {
       transform: translateY(0px)  rotateY(-10deg);
   }
}